.TasksHeader {
  display: grid;
  grid-template-columns: var(--tasks-grid-template-columns);
  margin: 0 var(--base-size-8);
  border-top: var(--base-border-variant);
  border-bottom: var(--base-border-variant);
}

.column {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: var(--base-size-12);

  &:not(:last-child) {
    border-right: var(--base-border-variant);
  }
}